/* Twentyfourteen Better Mobile Menus CSS by Johannes Bouchain */

@media screen and (min-width: 783px) and (max-width:1007px) {
	.site:before {
		content: "";
		display: block;
		height: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 182px;
		z-index: 2;
	}
	.main-content {
		float: left;
	}
	#secondary {
		border: 0px none;
		clear: none;
		float: left;
		margin: 0px 0px 0px -100%;
		min-height: 100vh;
		width: 122px;
	}
	.secondary-navigation {
		font-size: 11px;
		margin: 0px -30px 48px;
		width: 182px;
	}
	.site-content, .site-main .widecolumn {
		margin-left: 182px;
	}
	
	.secondary-navigation {
		font-size: 11px;
		margin: 0 -30px 48px;
		width: 182px;
	}

	.secondary-navigation li {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		position: relative;
	}

	.secondary-navigation a {
		padding: 10px 30px;
	}

	.secondary-navigation ul ul {
		background-color: #24890d;
		position: absolute;
		top: 0;
		left: -999em;
		width: 182px;
		z-index: 99999;
	}

	.secondary-navigation li li {
		border-top: 0;
	}

	.secondary-navigation li:hover > a,
	.secondary-navigation li.focus > a {
		background-color: #24890d;
		color: #fff;
	}

	.secondary-navigation ul ul a:hover,
	.secondary-navigation ul ul li.focus > a {
		background-color: #41a62a;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		left: 162px;
	}

	.secondary-navigation .menu-item-has-children > a {
		padding-right: 38px;
	}

	.secondary-navigation .menu-item-has-children > a:after {
		-webkit-font-smoothing: antialiased;
		content: "\f501";
		display: inline-block;
		font: normal 8px/1 Genericons;
		position: absolute;
		right: 26px;
		top: 14px;
		vertical-align: text-bottom;
	}
}

@media screen and (max-width: 782px) {
	.search-toggle {
		top:0;
		right:10px;
		position:absolute;
	}
	header.site-header .menu-levels {
		position:relative;
		clear:both;
		font-size:75%;
		padding:10px 0 3px;
	}
	header.site-header .menu-levels a {
		display:inline-block;
		background:rgba(255,255,255,.2);
		padding:3px 9px;
		font-size:120%;
	}
	header.site-header .menu-levels a.selected {
		font-weight:bold;
		background:rgba(255,255,255,.4);
	}
	.primary-navigation li.invisible {
		display:none;
	}
	.primary-navigation {
		padding-top:0;
		clear:both;
	}
	.primary-navigation.toggled-on {
		padding-top:10px;
	}
	#secondary .site-navigation {
		display:none;
	}
}
@media screen and (min-width:673px) and (max-width: 782px) {
	.search-toggle {
		top:0;
		right:30px;
		position:absolute;
	}
}
